body {
    font-family: 'Gayathri', sans-serif;
    color: #0F0A0A;
    padding: 5% 20%;
}
h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #413C58;
    text-align: center;
}

main {
    background-color: #F9F6F2;
    padding: 5%;
}

h1 {
    font-size: xx-large;
    line-height:
}

h2 {
    font-size: large;
    line-height: 1.6em;
}

p {
    font-size: medium;
    line-height: 1.3em;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-image: linear-gradient(#f9f6f2, #413c58);
    padding:10%;
}

nav ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}

nav ul a {
    display: block;
    background-color: #d9f2d5;
    color: #0F0A0A;
    height: 50px;
    line-height:50px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

nav ul a:hover {
    background-color: #FF111D;
}

.third {
    background-image: url(images/seal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.third p {
    background-color: rgba(248, 247, 244, 0.425);
    padding: 1.5em;
}

.third h2 {
    padding: 1em;
    background-color: rgba(248, 247, 244, 0.425);
}

@media only screen and (min-width: 600px) { 
    main {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    main article {
        width: 30%;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1;
        border-right: 2px solid black;
    }

    nav ul li:last-of-type{
        border: none;
    }
}