main {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
  width: 70%
}

footer {
    background-color: #faf4f0;
    text-align: center;
    padding: 1rem;
    margin-top: 4em;
  }
  
body {
    color: black;
    font-family: 'Tangerine', cursive;
    font-size: 1.7em;
    background-image: url("images/background.png");
  }

  h1,h2 {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  .name {
      text-align: right;
      margin-top: -2em;
  }

  .para, li {
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.8em;
  }

  h2 {
    margin-top: 2em;
  }
