main {
    max-width: 1200px;
    min-width: 800px;
    margin: auto;
    padding: 2rem;
  }

footer {
    background-color: #faf4f0;
    text-align: center;
    padding: 1rem;
  }
  
body {
    color: black;
    font-family: 'Tangerine', cursive;
    font-size: 1.7em;
    background-image: url("images/background.png");
  }

  h1,h2 {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .name {
      text-align: right;
      margin-top: -2em;
  }